
/* Ensure this file is processed by Tailwind via PostCSS or a Tailwind CLI build step */
@import "leaflet/dist/leaflet.css";
@tailwind base;
@tailwind components;
@tailwind utilities;



/* Hide horizontal scrollbar (but keep horizontal scroll/drag functionality) */
::-webkit-scrollbar {
  height: 0;
}

html, body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

